.container {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.modalBody {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 3rem;
}
.modalBody > * {
  padding-bottom: 1rem;
}
.inputSection {
  display: flex;
  flex-direction: column;
}

.inputSection input {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

.buttonSection {
  display: flex;
  align-content: space-between;
}
.buttonSection button:first-child {
  margin-right: 1rem;
}

.createAuctionButton {
  border: 2px solid var(--main-green);
  background-color: white;
  color: var(--main-green);
}

.createAuctionButton:hover, .createAuctionButton:focus {
  background-color: var(--main-green);
  color: white;
}

.createAuctionButton:focus {
  border: 2px solid var(--light-green);
}
